/* hello */

body{
    background-image: url("./assets/sunny.webp");
    /* background-repeat: no-repeat; */
    background-size:cover;
    display: flex;
    flex-direction:column;
    align-items:center;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
}

header{
    text-align: center;
    padding: 1em;
    background-color: rgba(128, 128, 128, 0.486);
    width: 100%;
    margin-top: -1em;
}

.element-box{
    min-width: 600px;
    min-height: 200px;
    text-align: center;
    padding: 1em;
    margin: .5em;
    border-radius: 20px;
}

button{
    margin: .5em;
    font-size: medium;
}

#weather-box{
    background-color: rgba(0, 128, 128, 0.5);
    box-shadow: 0px 0px 10px white inset;
    /* border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0); */
}

#sky-box{
    background-image: url("./assets/sun_skytype.jpeg");
    background-size: cover;
    text-shadow: 3px 3px 3px aliceblue;
}

h2{
    font-size: 2em;
}

#sky-type{
    font-size: large;
}

section div button{
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    font-size:xx-large;
}