body{
    background-image: url("/assets/snowy.jpg");
    /* background-repeat: no-repeat; */
    background-size:auto;
    display: flex;
    flex-direction:column;
    align-items:center;
    
    justify-content: center;
}

header{
    text-align: center;
    padding: 1em;
    background-color: rgb(92, 84, 99, 0.5);

}

.element-box{
    min-width: 350px;
    min-height: 100px;
    text-align: center;
    border: .1em solid black;
    padding: 1em;
    margin: .5em;
}

button{
    margin: .5em;
}

#weather-box{
    background-color: teal;
}

#sky-box{
    background-image: url("/assets/sun_skytype.jpeg");
    background-size: cover;
}